@{
    ViewData["Title"] = "Update Profile";
}

@Html.Partial("Navbar-LoggedIn")

    <div class="edit_container">
        <h1>Edit Profile</h1>
        <hr>

    @{
        if(@ViewBag.User.ProfilePicture == null){
            <img src="~/images/avatars/blank.png" alt="ProfilePicture" class="edit_profile_picture">        
        }
        else {
          <img src="@ViewBag.User.ProfilePicture" alt="ProfilePicture" class="edit_profile_picture">        

        }
    }
        <div class="upload_picture">
            <h5 class="edit_profile_title">Profile Photo</h5>
            <form asp-action="UploadProfilePicture" 
                asp-controller="Profile" 
                method="post"
                enctype="multipart/form-data">
                <input type="file" name="ProfilePicture"/>
                <input type="submit" value="Upload"/>
            </form>
        </div>

        @{
            if(@ViewBag.Success != null) {
                <h6 class="success_message alert alert-success">@ViewBag.Success</h6>
            }
        }
        <form action="update_profile/@ViewBag.User.UserId" method="post">
            <h5 class="edit_profile_title">First Name</h5> 
            <input type="text" name="FirstName" value="@ViewBag.User.FirstName" class="form-control">

            <h5 class="edit_profile_title">Last Name</h5> 
            <input type="text" name="LastName" value="@ViewBag.User.LastName" class="form-control">

            <h5 class="edit_profile_title">Email</h5>
            <input type="email" name="Email" value="@ViewBag.User.Email" class="form-control">

            <h5 class="edit_profile_title">About Me</h5>
            <textarea type="text" name="About" class="form-control">@ViewBag.User.About</textarea>

            <h5 class="edit_profile_title">Favorite Movie</h5>
            <input type="text" name="FavoriteMovie" value="@ViewBag.User.FavoriteMovie" class="form-control"><br>

            <input type="submit" value="Update Profile" class="btn btn-success btn-block"><br>

        </form>

        <a href="/profile"><button class="btn btn-default btn-block">Back</button></a>
    </div>

<script type="text/javascript">
        $(function() {

            $(".success_message").delay(1000).fadeOut("slow");
        });
</script>