@Html.Partial("Navbar-LoggedIn")

<h1>@ViewBag.CurrentList[0].Name</h1>
<h3 class="subtitle">Created by <a href="/user_profile/@ViewBag.CurrentList[0].UserId">@ViewBag.CurrentList[0].User.FirstName</a></h3>

<div class="list_container">
    <table class="table table-striped">
        <thead>
            <th>Movie</th>
            <th>Release</th>
        </thead>
        <tbody>
        @{
            foreach(var movie in @ViewBag.CurrentList[0].Movies) {
            <tr>
                <td><a href="/movie/@movie.Id">@movie.Title</a></td>
                <td>@movie.Release</td>
            </tr>
            }
        }
        </tbody>
    </table>


</div>