@Html.Partial("Navbar-LoggedIn")

<div class="list_container">
    <h1>@ViewBag.CurrentUser[0].FirstName @ViewBag.CurrentUser[0].LastName</h1>
    <hr>

    <div class="about_container">
        @{
            if(@ViewBag.User.ProfilePicture == null){
                <img src="~/images/avatars/blank.png" alt="ProfilePicture" class="explore_profile_picture">        
            }
            else {
            <img src="@ViewBag.CurrentUser[0].ProfilePicture" alt="ProfilePicture" class="explore_profile_picture">        

            }
        }
        <div class="profile_container">
            <h5 class="profile_title">Bio:</h5>
            <p class="profile_text">@ViewBag.CurrentUser[0].About</p>

            <h5 class="profile_title">Favorite Movie:</h5>
            <p class="profile_text">@ViewBag.CurrentUser[0].FavoriteMovie</p>

            <h5 class="profile_title">User Since:</h5>
            <p class="profile_text">@ViewBag.CurrentUser[0].CreatedAt.ToString("MM/dd/yyyy")</p>
        </div>
    </div>

    <!--<button class="btn btn-block"><a href="/follow/@ViewBag.CurrentUser[0].UserId">Follow @ViewBag.CurrentUser[0].FirstName @ViewBag.CurrentUser[0].LastName</a></button>

    <form action="/follow/@ViewBag.CurrentUser[0].UserId">
        <input type="submit" value="Follow @ViewBag.CurrentUser[0].FirstName @ViewBag.CurrentUser[0].LastName">
    </form>-->

    <!--<hr>-->

    <!--<h3 class="user_profile_title">@ViewBag.CurrentUser[0].FirstName's Lists</h3>-->
    <table class="table table">
        <thead>
            <th class="form_titles">Title</th>
            <th class="form_titles">Description</th>
            <th class="form_titles">Created</th>
        </thead>
        <tbody>
        @{
            foreach(var list in @ViewBag.CurrentUser[0].Lists) {
            <tr>
                <td><a href="/lists/@list.ListId">@list.Name</a></td>
                <td>@list.Description</td>
                <td>@list.CreatedAt.ToString("MMMM yyyy")</td>
            </tr>
            }
        }
        </tbody>
    </table>





</div>