@Html.Partial("Navbar-LoggedIn")

<div class="list_container">
    <h1>@ViewBag.CurrentUser[0].FirstName @ViewBag.CurrentUser[0].LastName</h1>
    <hr>

    <h5 class="profile_title">Bio:</h5>
    <p>@ViewBag.CurrentUser[0].About</p>

    <h5 class="profile_title">Favorite Movie:</h5>
    <p>@ViewBag.CurrentUser[0].FavoriteMovie</p>

    <h5 class="profile_title">User Since:</h5>
    <p>@ViewBag.CurrentUser[0].CreatedAt.ToString("MM/dd/yyyy")</p>

    <!--<hr>-->

    <h3 class="user_profile_title">@ViewBag.CurrentUser[0].FirstName's Lists</h3>
    <table class="table table">
        <thead>
            <th class="profile_title">Title</th>
            <th class="profile_title">Description</th>
            <th class="profile_title">Created</th>
        </thead>
        <tbody>
        @{
            foreach(var list in @ViewBag.CurrentUser[0].Lists) {
            <tr>
                <td><a href="/lists/@list.ListId">@list.Name</a></td>
                <td>@list.Description</td>
                <td>@list.CreatedAt.ToString("MMMM yyyy")</td>
            </tr>
            }
        }
        </tbody>
    </table>





</div>